body{
  background: url();
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

p{
  font-size: 16px;
  margin: 0;
  padding: 0;  
}
a:link{
  font-size: 16px;
  text-decoration: none;
  margin: 0;
  padding: 0;  
}
a:visited{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, ul, ol, li{
  margin: 0;
  padding: 0;  
}
ul, ol{
  list-style-type: none;
}
::selection{
  color: white;
  background-color: yellow;
}
::-moz-selection{
  color: white;
  background-color: yellow
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.row{
  position: relative;
  max-width: 970px;
  height: auto;
  margin: 0 auto;
}
@media all and (max-width: 1000px){
  .row{
    padding: 0 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}
.top-nav{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  z-index: 200;
}
.top-nav.active{
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
}

.logo:link{
  position: relative;
  color: #ccc;
  display: inline-block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  
}
.logo:visited{
  color: #ccc;
}
.logo:hover{
  background-color: brown;
}
.logo img{
  position: relative;
  padding: 12px 18px;
  width: 100px;
  vertical-align: middle;
}
.top-nav.active.logo img{
  border-right: 1px solid #ccc;
}
#nav-search-wrapper{
  display: none;
  width: 490px;
  height: 100%;
}
.top-nav.active #nav-search-wrapper{
  display: inline-block;
}
#nav-search-wrapper form input{
  width: 100%;
  padding: 18px 10px 18px 52px;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: #666;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#nav-search-wrapper form input::-webkit-input-placeholder{
  color: #aaa;
  font-size: 14px;
}
#nav-search-wrapper form input::-moz-placeholder{
  color: #aaa;
  font-size: 14px;
}
#nav-search-wrapper form input:-ms-input-placeholder{
  color: #aaa;
  font-size: 14px;
}
#nav-search-wrapper form input:-moz-placeholder{
  color: #666;
  font-size: 14px;
}
.top-nav ul{
  float: right;
  padding: 16px 0;
}
.top-nav ul li{
  display: inline-block;
  margin: 0 30px;
}
.top-nav ul li a:link{
  color: #484848;
  font-size: 14px;
}
.top-nav ul li a:visited{
  color: #484848;
}
@media all and (max-width: 750px){
  .top-nav ul li{
    margin: 0 15px;
  }
  .top-nav ul li:last-of-type{
    margin: 25px;
  }
}
@media all and (max-width: 630px){
  .top-nav ul li{
    margin: 0 7.5px;
  }
  .top-nav ul li:last-of-type{
    margin-right: 25px;
  }
}
@media all and (max-width: 535px){
  .top-nav ul li{
    margin: 7.5px;
    margin-right: 25px;
    text-align: right;
  }
  .top-nav ul li:first-of-type{
    margin-top: 0;
  }
  .top-nav ul li:last-of-type{
    margin-bottom: 0;
  }
  .top-nav ul li a:link{
    font-size: 16px;
  }
}
#moto{
  font-size: 48px;
  font-weight: 300;
  color:#484848; 
  margin: 30px 0;
  letter-spacing: 1.8px;
}
#moto span{
  color: #ff5a5f !important;
  font-weight: 700;
}
@media all and (max-width: 700px){
  #moto{
    font-size: 42px;
  }
}
@media all and (max-width: 620px){
  #moto{
    font-size: 36px
  }
}
@media all and (max-width: 470px){
  #moto{
    font-size: 30px;
  }
}
#searchbar-wrapper{
  position: relative;
  width: 100%;
  height: auto;
  
}
#searchbar{
  position: relative;
  width: 100%;
  height: auto;
}
#searchbar input{
  font-size: 19px;
  outline: none;
}
#searchbar input[type="text"]{
  padding: 20px 15px;
  width: 730px;
  display: inline-block;
  border: 1px solid #ccc;
  border-right: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
}
#searchbar input[type="text"]:focus{
  padding: 19px 15px 17px;
  border-bottom: 3px solid #ff6a6f;
}
#searchbar input[type="submit"]{
  width: 200px;
  display: inline-block;
  padding: 19px 0;
  border: none;
  color: #fff;
  background-color: #ff5a5f;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
#searchbar input[type="submit"]:hover{
  background-color: #ff2a2f;
}
@media all and (max-width: 1020px){
  #searchbar input[type="text"]{
    width: calc(100vw - 278px);
    width: -webkit-calc(100vw - 278px);
    width: -moz-calc(100vw - 278px);
  }
}
@media all and (max-width: 730px){
  #searchbar input[type="submit"]{
    width: 150px;
  }
  
}
#tab-navigation-wrapper{
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #4e4e4e4e;
  padding: 10px 0;
  margin-top: 30px;
  
}

#tab-navigation-wrapper ul li:first-of-type{
  margin-left: 190px;
}
#tab-navigation-wrapper ul li:last-of-type{
  margin-right: 0;
}
#tab-navigation-wrapper ul li{
  display: inline-block;
  margin: 0 15px;
}
#tab-navigation-wrapper ul li a:link{
  display: inline-block;
  font-size: 12px;
  color: #48484848;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

#tab-navigation-wrapper ul li a:visited{
  
  color: #48484848;
  font-weight: 700;
  letter-spacing: 1px;
  
}
#tab-navigation-wrapper ul li a.active{
  font-size: 12px;
  color: #008489;
  font-weight: 700;
  border-bottom: 2px solid #008489 !important;
}
#display-sliders-wrapper{
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.ds-title{
  font-size: 19px;
  font-weight: 400;
  padding-top: 45px;
  padding-bottom: 20px;
  letter-spacing: 1px;
  float: left;
}
.ds-title-see-all:link{
  font-size: 14px;
  font-weight: 400;
  color: #484848;
  margin-top: 45px;
  margin-bottom: 20px;
  float: right;
}
.ds-title-see-all:visited{
  font-size: 14px;
  font-weight: 400;
  color: #484848;
}
.display-slider{
  position: relative;
  display: block;
  width: 100%;
  height: auto;

}
.ds-div{
  position: relative;
  display: inline-block;
  width: calc(25% - 15px);
  width: -webkit-calc(25% - 15px);
  width: -mozkit-calc(25% - 15px);
  height: 130px;
  background-color: red;
  margin-right: 15px;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../beach-house.jpg);
  background-size: cover;
  background-position: center;

}
.ds-div:last-of-type{
  margin-right: 0;
}
.ds-div p{
  color: black;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: 5px; 
  cursor: pointer;
}
.ds-div p:hover{
  color: #ff2a2f;
}
#footer{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-top: 1px solid #dbdbdb;
  margin-top: 60px;
  padding: 60px 0;
}
#footer-first-wrapper{
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 60px;
}
#settings-holder{
  position: relative;
  display: inline-block;
  width: 25%;
  height: auto;
 
  
  float: left;
}
.file-upload-input{
  width: 100%;
  height: 55px;
  
  
  
  font-family: sans-serif;
  font-size: 15px;
}
.setting{
  width: 100%;
  height: 50px;
  border: 1px solid #333;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}
.setting:hover{
  color: #008489;
  cursor: pointer;
}